<!DOCTYPE html>
<html>
<head>
    <title>ZQRADAR</title>
    <style>
        body{
            background-color: #121317;
        }
        
        #thirdCanvas
        {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
            border: 2px solid grey;
        }
    </style>
</head>
<body>
    <div id="canvasContainer">
        <canvas id="thirdCanvas" width="500" height="500" ></canvas>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js" ></script>

    <script src="/scripts/Handlers/ItemsInfo.js"></script>
    <script type="module" src="/scripts/Utils/ItemsPage.js"></script> 
</body>
</html>