<div class="container px-6 mx-auto grid">
    <div class="grid gap-6 mb-8 md:grid-cols-1 xl:grid-cols-1">
        <div class="mt-4 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Enemies
				</h2>
			</div>
		</div>
        <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<div>
                    <div>
                        <label class="flex items-center">
                            <input disabled type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                            <span class="dark:text-white ml-2">All</span>
                        </label>
                    </div>
                    <div class="flex">
                        <label class="flex items-center">
                            <input type="checkbox" id="settingEnemiesE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                            <span class="dark:text-white ml-2">E0</span>
                        </label>
                        <label class="flex items-center ml-3">
                            <input type="checkbox" id="settingEnemiesE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                            <span class="dark:text-white ml-2">E1</span>
                        </label>
                        <label class="flex items-center ml-3">
                            <input type="checkbox" id="settingEnemiesE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                            <span class="dark:text-white ml-2">E2</span>
                        </label>
                        <label class="flex items-center ml-3">
                            <input type="checkbox" id="settingEnemiesE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                            <span class="dark:text-white ml-2">E3</span>
                        </label>
                        <label class="flex items-center ml-3">
                            <input type="checkbox" id="settingEnemiesE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                            <span class="dark:text-white ml-2">E4</span>
                        </label>
                    </div>
                </div>
			</div>
		</div>

        <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
                <h4 class="mb-4 text-2xl font-semibold text-gray-600 dark:text-gray-300">
                    Mists
                </h4>

                <!--
                    TODO
                    Mists beasts
                -->
                <label class="flex items-center">
                    <input disabled type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Crystal Spider</span>
                </label>
                <label class="flex items-center">
                    <input disabled type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Fairy Dragon</span>
                </label>
                <label class="flex items-center">
                    <input disabled type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Veil Weaver</span>
                </label>
                <label class="flex items-center">
                    <input disabled type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Grifin</span>
                </label>
			</div>
		</div>

        <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
                <h4 class="mb-4 text-2xl font-semibold text-gray-600 dark:text-gray-300">
                    Other
                </h4>

                <label class="flex items-center">
                    <input type="checkbox" id="settingBossEnemies" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Bosses</span>
                </label>
                <label class="flex items-center">
                    <input type="checkbox" id="settingAvaloneDrones" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Avalone Drones</span>
                </label>
			</div>
		</div>

        <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
                <h4 class="mb-4 text-2xl font-semibold text-gray-600 dark:text-gray-300">
                    Debug
                </h4>

                <label class="flex items-center">
                    <input type="checkbox" id="settingEnemiesHP" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Show Hp</span>
                </label>

                <label class="flex items-center">
                    <input type="checkbox" id="settingEnemiesID" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Show Enemies ID</span>
                </label>
			</div>
		</div>
    </div>
</div>
<script>
    function returnLocalBool(item)
    {
        if (localStorage.getItem(item) == "true")
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    //#region Classic enemies
    const settingEnemiesE0 = document.getElementById("settingEnemiesE0");
    const settingEnemiesE1 = document.getElementById("settingEnemiesE1");
    const settingEnemiesE2 = document.getElementById("settingEnemiesE2");
    const settingEnemiesE3 = document.getElementById("settingEnemiesE3");
    const settingEnemiesE4 = document.getElementById("settingEnemiesE4");

    settingEnemiesE0.checked = returnLocalBool("settingEnemiesE0");
    settingEnemiesE1.checked = returnLocalBool("settingEnemiesE1");
    settingEnemiesE2.checked = returnLocalBool("settingEnemiesE2");
    settingEnemiesE3.checked = returnLocalBool("settingEnemiesE3");
    settingEnemiesE4.checked = returnLocalBool("settingEnemiesE4");

    settingEnemiesE0.addEventListener("click", () => {localStorage.setItem("settingEnemiesE0", settingEnemiesE0.checked);});
    settingEnemiesE1.addEventListener("click", () => {localStorage.setItem("settingEnemiesE1", settingEnemiesE1.checked);});
    settingEnemiesE2.addEventListener("click", () => {localStorage.setItem("settingEnemiesE2", settingEnemiesE2.checked);});
    settingEnemiesE3.addEventListener("click", () => {localStorage.setItem("settingEnemiesE3", settingEnemiesE3.checked);});
    settingEnemiesE4.addEventListener("click", () => {localStorage.setItem("settingEnemiesE4", settingEnemiesE4.checked);});
    //#endregion

    const settingBossEnemies = document.getElementById("settingBossEnemies");
    settingBossEnemies.checked = returnLocalBool("settingBossEnemies");
    settingBossEnemies.addEventListener("click", () => {localStorage.setItem("settingBossEnemies", settingBossEnemies.checked);});

    const settingAvaloneDrones = document.getElementById("settingAvaloneDrones");
    settingAvaloneDrones.checked = returnLocalBool("settingAvaloneDrones");
    settingAvaloneDrones.addEventListener("click", () => {localStorage.setItem("settingAvaloneDrones", settingAvaloneDrones.checked);});

    //#region Debug
    const settingEnemiesHP = document.getElementById("settingEnemiesHP");
    settingEnemiesHP.checked = returnLocalBool("settingEnemiesHP");
    settingEnemiesHP.addEventListener("click", () => {localStorage.setItem("settingEnemiesHP", settingEnemiesHP.checked);});

    const settingEnemiesID = document.getElementById("settingEnemiesID");
    settingEnemiesID.checked = returnLocalBool("settingEnemiesID");
    settingEnemiesID.addEventListener("click", () => {localStorage.setItem("settingEnemiesID", settingEnemiesID.checked);});
    //#endregion

</script>