
 
<div class="h-full pb-16 overflow-y-auto">
  <div class="container grid px-6 mx-auto">
    <!-- With actions -->
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Ignore list
    </h2>
    <div class="flex justify-center">
      <label class="block text-sm mr-6">

        <input 
          id="nameInput"
          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
          placeholder="Name"
        />
      </label>
      <button
        id="addItem"
        class="block mb-8 w-56 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
      >
        Add Player
      </button>
    </div>
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr
              class="text-xs font-semibold text-left tracking-wide text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              <th class="px-4 py-3 w-full">Name</th>
              <th class="px-4 py-3">Actions</th>
            </tr>
          </thead>
          <tbody id="tableBody"
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
          >
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script>
  const storedData = JSON.parse(localStorage.getItem("ignoreList")) || [];

  storedData.forEach(element => {
    addItem(element);
  });

  function addItem(value)
  {
    var tableBody = document.getElementById("tableBody");

    // Create a new table row element.
    var newRow = document.createElement("tr");
    newRow.className = "text-gray-700 dark:text-gray-400";

    // Set the HTML content of the new row with the desired structure.
    newRow.innerHTML = `
      <td class="px-4 py-3 text-sm">
        ${value}
      </td>
      <td class="px-4 py-3">
        <div class="flex items-center space-x-4 text-sm">
          <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Delete">
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </td>
    `;

    // Append the new row to the table body.
    tableBody.appendChild(newRow);

    const button = newRow.children[1].children[0].children[0];
    button.addEventListener("click", function(event)
    {
      let idx = 0;

      for (let i = 0; i < tableBody.rows.length; i++)
      {
        if (tableBody.rows[i] == newRow)
        {
          idx = i;
          break;
        }
      }

      storedData.forEach(element => {
        const paragraphContext = document.getElementById(element.id + "counterCell");
        
        if (paragraphContext != null)
        {
          if (parseInt(paragraphContext.textContent) > idx+1)
          {
            element.id = element.id -1;
            paragraphContext.textContent  = '' + element.id;
            paragraphContext.id = element.id + "counterCell";
          }
        }
      });

      storedData.splice(idx, 1);
      tableBody.removeChild(newRow);

      const updatedData = JSON.stringify(storedData);
      localStorage.setItem("ignoreList", updatedData);
    });
  }


  const nameInput = document.getElementById("nameInput");

  const buttonText = document.querySelector('[x-data="{ isOpen: false, buttonText: \'Select\' }"] [x-text="buttonText"]');

  const button = document.getElementById("addItem");

  button.addEventListener("click", function(event) {
    const nValue = nameInput.value.toUpperCase();
    storedData.push(nValue);
    addItem(nValue)

    nameInput.value = "";

    const updatedData = JSON.stringify(storedData);
    localStorage.setItem("ignoreList", updatedData);
  });
</script>