
<div class="container px-6 mx-auto grid">
	<div class="grid gap-6 mb-8 md:grid-cols-1 xl:grid-cols-1">
		<div class="mt-4 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Accessibilty
				</h2>
			</div>
		</div>

    <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="height: 532px;">
			<div class="flex" style="justify-content: space-between; width: calc(100% - 500px);">
        <div>
          <h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
            Players
          </h4>
          <div>
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Dot size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="10"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Name text size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="12"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Mounted text size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="12"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Distance text size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="12"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Health size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="60"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Guild text size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="12"
            />
          </div>
        </div>
        <div>
          <canvas id="mapCanvasPlayers" width="500" height="500" style="position: absolute;"></canvas>
          <canvas id="gridCanvasPlayers" width="500" height="500" style="position: absolute; border: 2px solid grey"></canvas>
          <canvas id="drawCanvasPlayers" width="500" height="500" style="position: absolute;"></canvas>
        </div>
			</div>
		</div>

    <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
        <h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
          Resources
        </h4>
        <div>
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Image size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="50"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">T & E text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Resource size text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Fish text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">ID text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
			</div>
		</div>

    <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
        <h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
          Enemies
        </h4>
        <div>
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Image size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="50"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">No image dot size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="10"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">ID text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
			</div>
		</div>

    <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
        <h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
          Wisp, Chest, Dungeon
        </h4>
        <div>
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Image size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="50"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Enchant text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">S & D text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
			</div>
		</div>
</div>

<script>
  //#region Players
  const mapCanvasPlayers = document.getElementById("mapCanvasPlayers");
  const mapPlayersContext = mapCanvasPlayers.getContext("2d");
  mapPlayersContext.fillStyle = '#1a1c23';
  mapPlayersContext.fillRect(0, 0, mapCanvasPlayers.width, mapCanvasPlayers.height);

  const gridCanvasPlayers = document.getElementById("gridCanvasPlayers");
  const gridPlayersContext = gridCanvasPlayers.getContext("2d");
  DrawGrid(gridCanvasPlayers, gridPlayersContext);

  const drawCanvasPlayers = document.getElementById("drawCanvasPlayers");
  const drawPlayersContext = drawCanvasPlayers.getContext("2d");

  RefreshPlayersCanvas();

  function RefreshPlayersCanvas()
  {
    const midX = drawCanvasPlayers.width / 2;
    const midY = drawCanvasPlayers.height / 2;

    // Our Player
    DrawFilledCircle(drawPlayersContext, midX, midY, 10, "blue");

    let pSpace = 0;
    // Health bar
    const hbP = 1; // percentage
    const hbW = 60; // Width
    const hbH = 7; // Height

    // Player 1
    let pX = midX + 50, pY = midY + 50;
    DrawFilledCircle(drawPlayersContext, pX, pY, 10, "red"); 

    this.DrawText(pX, pY, "M", drawPlayersContext, "12px", "white"); // Mounted

    pSpace += 15;
    this.DrawText(pX, pY + pSpace, "Nickname", drawPlayersContext, "12px", "white"); // Name

    this.DrawText(pX, pY - 20, 80 + "m", drawPlayersContext, "12px", "white"); // Distance

    pSpace += 12;
    drawPlayersContext.fillStyle = "#121317";
    drawPlayersContext.fillRect(pX - hbW/2, pY - hbH/2 + pSpace, hbW, hbH);
    drawPlayersContext.fillStyle = "red";
    drawPlayersContext.fillRect(pX - hbW/2, pY - hbH/2 + pSpace, hbW * hbP, hbH);


    // Player 2
    pSpace = 0;
    pX = midX + 85, pY = midY - 50;
    DrawFilledCircle(drawPlayersContext, midX + 85, midY + -50, 10, "red");

    this.DrawText(pX, pY, "M", drawPlayersContext, "12px", "white"); // Mounted

    pSpace += 15;
    this.DrawText(pX, pY + pSpace, "Nickname", drawPlayersContext, "12px", "white"); //Name

    this.DrawText(pX, pY - 20 , 80 + "m", drawPlayersContext, "12px", "white"); // Distance

    pSpace += 12;
    drawPlayersContext.fillStyle = "#121317";
    drawPlayersContext.fillRect(pX - hbW/2, pY - hbH/2 + pSpace, hbW, hbH);
    drawPlayersContext.fillStyle = "red";
    drawPlayersContext.fillRect(pX - hbW/2, pY - hbH/2 + pSpace, hbW * hbP, hbH);


    // Player 3
    pSpace = 0;
    pX = midX - 85, pY = midY + 75;
    DrawFilledCircle(drawPlayersContext, midX + -85, midY + 75, 10, "red");

    this.DrawText(pX, pY, "M", drawPlayersContext, "12px", "white"); // Mounted

    pSpace += 15;
    this.DrawText(pX, pY + pSpace, "Nickname", drawPlayersContext, "12px", "white"); //Name

    this.DrawText(pX, pY - 20 , 80 + "m", drawPlayersContext, "12px", "white"); // Distance

    pSpace += 12;
    drawPlayersContext.fillStyle = "#121317";
    drawPlayersContext.fillRect(pX - hbW/2, pY - hbH/2 + pSpace, hbW, hbH);
    drawPlayersContext.fillStyle = "red";
    drawPlayersContext.fillRect(pX - hbW/2, pY - hbH/2 + pSpace, hbW * hbP, hbH);
  }


  //#endregion


  function DrawGrid(canvas, context)
  {
    var bw = canvas.width;
    var bh = canvas.height;

    var p = 0;
    let totalSpace = canvas.height / 10;

    for (var x = 0; x <= bw; x += totalSpace)
    {
      context.moveTo(0.5 + x + p, p);
      context.lineTo(0.5 + x + p, bh + p);
    }

    for (var x = 0; x <= bh; x += 50)
    {
      context.moveTo(p, 0.5 + x + p);
      context.lineTo(bw + p, 0.5 + x + p);
    }

    context.strokeStyle = "grey";
    context.stroke();
  }

  function DrawFilledCircle(context, x, y, radius, color)
  {
    context.beginPath();
    context.arc(x , y , radius, 0, 2 * Math.PI);
    context.fillStyle = color;
    context.fill();
  }

  function DrawText(x, y, text, ctx, size="12px", color="white", font="Arial")
  {
    ctx.font = size + " " + this.fontFamily;
    ctx.fillStyle = color;

    const tS = ctx.measureText(text);
    const width = tS.width;
    const height = tS.actualBoundingBoxAscent + tS.actualBoundingBoxDescent;

    ctx.fillText(text, x - width/2, y + height/2);
  }  
</script>