
<div class="container px-6 mx-auto grid">
	<div class="grid gap-6 mb-8 md:grid-cols-1 xl:grid-cols-1">
		<div class="mt-4 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Accessibilty
				</h2>
			</div>
		</div>

    <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="height: 532px;">
			<div class="flex" style="justify-content: space-between; width: calc(100% - 500px);">
        <div>
          <h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
            Players
          </h4>
          <div>
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Dot size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="10"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Name text size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="12"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Mounted text size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="12"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Distance text size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="12"
            />
          </div>
          <div class="mt-4">
            <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Guild text size</label>
            <input 
              id=""
              class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              style="width: 50px;"
              value="12"
            />
          </div>
        </div>
        <div>
          <canvas id="mapCanvasPlayers" width="500" height="500" style="position: absolute;"></canvas>
          <canvas id="gridCanvasPlayers" width="500" height="500" style="position: absolute;"></canvas>
          <canvas id="drawCanvasPlayers" width="500" height="500" style="position: absolute;"></canvas>
        </div>
			</div>
		</div>

    <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
        <h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
          Resources
        </h4>
        <div>
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Image size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="50"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">T & E text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Resource size text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Fish text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">ID text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
			</div>
		</div>

    <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
        <h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
          Enemies
        </h4>
        <div>
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Image size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="50"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">No image dot size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="10"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">ID text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
			</div>
		</div>

    <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
        <h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
          Wisp, Chest, Dungeon
        </h4>
        <div>
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Image size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="50"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">Enchant text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
        <div class="mt-4">
          <label class="mr-2 font-semibold text-gray-500 dark:text-gray-400" for="">S & D text size</label>
          <input 
            id=""
            class="text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            style="width: 50px;"
            value="12"
          />
        </div>
			</div>
		</div>
</div>

<script>
  /*
  <canvas id="mapCanvasPlayers" width="500" height="500" style="position: absolute;"></canvas>
  <canvas id="gridCanvasPlayers" width="500" height="500" style="position: absolute;"></canvas>
  <canvas id="drawCanvasPlayers" width="500" height="500" style="position: absolute;"></canvas>
  */

  const mapCanvasPlayers = document.getElementById("mapCanvasPlayers");
  const mapPlayersContext = mapCanvasPlayers.getContext("2d");
  mapPlayersContext.fillStyle = '#1a1c23';
  mapPlayersContext.fillRect(0, 0, mapCanvasPlayers.width, mapCanvasPlayers.height);

  const gridCanvasPlayers = document.getElementById("gridCanvasPlayers");
  const gridPlayersContext = gridCanvasPlayers.getContext("2d");
  DrawGrid(gridCanvasPlayers, gridPlayersContext);

  const drawCanvasPlayers = document.getElementById("drawCanvasPlayers");
  const drawPlayersContext = drawCanvasPlayers.getContext("2d");

  function DrawGrid(canvas, context)
  {
    var bw = canvas.width;
    var bh = canvas.height;

    var p = 0;
    let totalSpace = canvas.height / 10;

    for (var x = 0; x <= bw; x += totalSpace)
    {
      context.moveTo(0.5 + x + p, p);
      context.lineTo(0.5 + x + p, bh + p);
    }

    for (var x = 0; x <= bh; x += 50)
    {
      context.moveTo(p, 0.5 + x + p);
      context.lineTo(bw + p, 0.5 + x + p);
    }

    context.strokeStyle = "grey";
    context.stroke();
  }
</script>